body{
margin:0;
font-family:system-ui;
background:#0a0a0a;
color:white;
}

section{
max-width:1000px;
margin:auto;
padding:80px 20px;
}

h1{
font-size:56px;
margin-bottom:10px;
}

h2{
font-size:32px;
margin-bottom:30px;
}

p{
color:#aaa;
}

/* NAVBAR */
.nav{
display:flex;
justify-content:space-between;
padding:20px 40px;
border-bottom:1px solid #222;
}

.nav a{
margin-left:25px;
color:#aaa;
text-decoration:none;
}

.nav a:hover{
color:white;
}

/* HERO */
.hero{
text-align:center;
}

.icons svg{
margin:20px 10px;
cursor:pointer;
}

/* PROJECT GRID */
.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:25px;
}

.card{
background:#111;
padding:25px;
border-radius:16px;
border:1px solid #222;
transition:.3s;
}

.card:hover{
transform:translateY(-5px);
border-color:#444;
}

.card span{
display:block;
margin:15px 0;
font-size:14px;
color:#777;
}

.card a{
color:#4da3ff;
text-decoration:none;
}

/* SKILLS */
.skills span{
display:inline-block;
padding:10px 18px;
border-radius:30px;
border:1px solid #333;
margin:8px;
font-size:14px;
}

/* CONTACT */
.contact{
text-align:center;
}

.btn{
display:inline-block;
margin-top:15px;
padding:12px 28px;
background:#2563eb;
border-radius:10px;
text-decoration:none;
color:white;
}

/* MOBILE */
@media(max-width:800px){
.grid{
grid-template-columns:1fr;
}
h1{
font-size:38px;
}
}
